body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}

.about {
    margin-top: 5rem;
    margin-bottom: 2rem;
}
.container {
    display: flex; /* Divide em duas colunas */
    justify-content: space-between;
    padding: 50px;
    margin-left: 150px;
}

ul {
    list-style-type: none;
    display: inline;
    justify-content: space-between;
}

.icons {
    font-size: 30px;
    color: gray;
}

ul.icons {
    display: flex;
    justify-content: flex-start; /* Centraliza os ícones horizontalmente */
    gap: 10px; /* Adiciona espaço fixo entre os ícones */
    padding: 0;
    margin: 0;
}

.test {
    font-size: 40px; /* Tamanho dos ícones */
    margin: 0 1px; /* Espaçamento entre os ícones */
    color: #0077b5; /* Cor do ícone */
}

h1, h2 {
    margin-bottom: 1px; /* Ajuste o valor conforme necessário */
}

img {
    height: 200px;
    width: 200px;
    border-radius: 100px;
    margin-bottom: 50px;
}

.left-column {
    
    width: 40%; /* A parte onde vai ficar o conteúdo principal */
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.right-column {
    width: 50%; /* A parte onde fica a paginação */
    padding: 20px;
    padding-right: 50px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.testes {
    margin-top: 10px;
}

.hover-about:hover {
    color: green;
    
}

img:hover{
    transform: scale(1.1);
    transition: all 0.3s ease;
}

h2 {
    font-size: 1.25rem;
    line-height: 1.75rem;
    margin-top: 0; /* Remove o espaço adicional acima do h2 */
}

a {
    color: gray;
    text-decoration: none;
}

.icons {
    margin-top: 10px;
    font-size: 30px;
    color: gray;
}

.titleandsubtitle {

    color: white;
}