body {
    background-color: black;
}

a {
    color: gray;
}

a:focus, a:hover {
    outline: none; /* Remove a borda azul ao focar ou passar o mouse */
    text-decoration: none; /* Garante que o sublinhado não reapareça */
}

html {
    scroll-behavior: smooth;
}
.footer {
    padding-top: 50px;
    text-align: center;
}
.about {
    margin-top: 5rem;
    margin-bottom: 2rem;
}

.retangulo {
    display: grid;
    grid-template-columns: 30% 70%;
    width: 100%;
    height: 250px;
    padding-top: 5px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.lado-esquerdo {
    text-align: center;
}
.lado-direito {
    
}
.retangulo:hover{
    background-color: rgb(42, 42, 42);
}

ul {
    list-style-type: none;
    display: inline;
    justify-content: space-between;
}

.icons {
    font-size: 30px;
    color: gray;
}

ul.icons {
    display: flex;
    justify-content: flex-start; /* Centraliza os ícones horizontalmente */
    gap: 10px; /* Adiciona espaço fixo entre os ícones */
    padding: 0;
    margin: 0;
}

.test {
    font-size: 40px; /* Tamanho dos ícones */
    margin: 0 1px; /* Espaçamento entre os ícones */
    color: #0077b5; /* Cor do ícone */
}

h1, h2 {
    margin-bottom: 1px; /* Ajuste o valor conforme necessário */
}

.personal-photo {
    height: 200px;
    width: 200px;
    border-radius: 100px;
    margin-bottom: 50px;
    transition: transform 0.3s ease;
}

.img2 {
    height: 100px;
    width: 150px;
}

.container {
    display: flex;
    justify-content: space-between;
    gap: 20px; /* Espaço fixo entre as colunas */
    padding: 20px; /* Ajuste o valor conforme necessário */
    margin: 0 auto; /* Centraliza o container */
    max-width: 1200px; /* Limita a largura máxima */
    box-sizing: border-box; /* Inclui padding e border no cálculo da largura */
}

.left-column {
    position: fixed; /* Faz o elemento fique fixo em relação à janela do navegador */
    top: 0; /* Define a distância do topo da janela */
    left: 250px; /* Define a distância da borda esquerda da janela do navegador */
    width: 300px; /* Define a largura da coluna esquerda */
    height: calc(100% - 40px); /* Ajusta a altura total com margem */
    margin-top: 20px; /* Espaço do topo */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #000; /* Preserva o fundo */
}

.right-column {
    margin-left: 400px; /* Move a coluna direita para esquerda (distância relativa à coluna fixa) */
    margin-right: 30px; /* Cria espaço entre a borda direita da coluna direita e a borda da jane */
    width: calc(100% - 450px); /* Ajusta a largura restante */
    box-sizing: border-box; /* Inclui padding e borda no cálculo da largura */
    padding: 20px;
    border-radius: 8px;
}



.testes {
    margin-top: 10px;
}

.testeslast {
    margin-top: 10px;
    padding-bottom: 5px;
}

.hover-about:hover {
    text-decoration: none;
    transition: all 0.3s ease;
    color: white;
    
}

.personal-photo:hover{
    transform: scale(1.1);
}
.about-me-text {
    color: grey;
    font-size: 17px;
    font
}
h2 {
    font-size: 1.25rem;
    line-height: 1.75rem;
    margin-top: 0; /* Remove o espaço adicional acima do h2 */
}

.icons {
    margin-top: 25px;
    font-size: 30px;
    color: gray;
}

.titleandsubtitle {

    color: white;
}